:root {
    --yellow-primary: #e8df31;
    --red-primary: #d3252e;
    --dark-primary: #000f17;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-primary);
}

canvas#game-canvas {
    background-image: url(../assets/images/game-bg.jpg);
    background-size: contain; /* Escala a imagem para caber na div */
    background-position: center; /* Centraliza a imagem */
    background-repeat: repeat; /* Não repete a imagem */
    overflow: hidden;
    width: 80%;
    max-width: 1024px;
    border: 5px solid white;
    image-rendering: pixelated;
    border-radius: 5px;
    margin: auto;
    display: block;
    margin-top: 3rem;
}

h1.game-score {
    font-family: 'Orbitron', sans-serif;
    margin: 2rem 0;
    color: white;
    text-align: center;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}