body {
    margin: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --yellow-primary: #e8df31;
    --red-primary: #d3252e;
    --dark-primary: #000f17;
}

.background {
    background-color: var(--dark-primary);
    width: 100vw;
    /* Ocupa 100% da largura da viewport */
    min-height: 100vh;
    background-image: url(../assets/images/space-home.jpg);
    background-size: contain;
    /* Escala a imagem para caber na div */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Não repete a imagem */
    overflow-y: auto;
    /* Oculta qualquer excesso de conteúdo */
    overflow-x: hidden;
}

.game-logo {
    display: block;
    width: calc(40vw + 100px);
    max-width: 550px;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 100px;
    animation: pulse 2s infinite ease-in-out;
}

.game-font {
    font-family: "Orbitron", sans-serif;
    color: var(--yellow-primary);
    transition: color 0.4s ease;
}

.ranking-controls {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.ranking-controls label {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.ranking-container {
    width: min(600px, 80%);
    height: 500px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 2rem;
    border-radius: 15px;
}

.ranking-container {
    font-size: 16px;
    font-family: "Orbitron", sans-serif;
    color: white;
    border: 5px solid white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 1rem;
    overflow-y: auto;
}

.ranking-container tr {
    height: 3em;
}

.ranking-container th {
    padding: 1em;
}

.ranking-container th,
.ranking-container td,
.ranking-container h2 {
    text-align: center;
}

.ranking-container::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

.ranking-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da barra de rolagem */
}

.ranking-container::-webkit-scrollbar-thumb {
    background: #888; /* Cor do "thumb" da barra de rolagem */
    border-radius: 0; /* Bordas retas */
}

.ranking-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do "thumb" ao passar o mouse */
}

.table-ranking {
    width: 100%;
}
