<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space Invaders</title>
    <link rel="stylesheet" href="/css/game.css" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet" />
</head>

<body>
    <h1 class="game-score">SCORE: <span id="score">0</span></h1>
    </h1>
    <main class="content-wrapper">
        <canvas id="game-canvas" width="1440" height="1024"></canvas>
        <div class="crosshair" id="crosshair"></div>
        <div class="scoreboard">
            <h2 class="game-font">Ranking da partida</h2>
            <table>
                <thead>
                    <tr>
                        <th>Posição</th>
                        <th>Nome do Jogador</th>
                        <th>Pontuação</th>
                    </tr>
                </thead>
                <tbody id="scoreboard-body">
                </tbody>
            </table>
        </div>
    </main>
    <script src="/js/main.js" type="module"></script>
</body>

</html>