<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space Raiders</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/ranking.css" />
    <script src="js/main.js" type="text/javascript"></script>
</head>

<body>
    <div class="background">
        <img class="game-logo" src="/assets/space-raiders.png" alt="Space Raiders" />
        <div class="ranking-controls">
            <label class="game-font" for="ranking">RANKING</label>
            <div class="ranking-container"></div>
        </div>
    </div>
</body>

</html>